.cards-simple-wrapper
  .row
    - if (gigs.length > 0)
      - each gig in gigs
        .col-sm-6.col-md-4.col-lg-3
          .card-simple(data-background-image="#{AppHelper.thumbURL(gig.header, 260, 200)}", style='background-image: url(#{AppHelper.thumbURL(gig.header, 260, 200)})')
            .card-simple-background
              .card-simple-content
                h2
                  a(href='/events/#{gig.pid}/#{gig.slug}') #{gig.title}
                .card-simple-actions
                  a.fa.fa-search(href='/events/#{gig.pid}/#{gig.slug}')
                // /.card-simple-actions
              // /.card-simple-content
              .card-simple-label #{gig.main_tag}
            // /.card-simple-background
          // /.card-simple
        // /.col-*
    - else
      p Sorry, no gigs yet...
  // /.row
// /.cards-simple-wrapper