extends ../layout

block content
  .main
    .main-inner
      .content
        .mt-80.mb80
          .detail-banner(style='background-image: url(#{gig.header});')
            .container
              .detail-banner-left
                h2.detail-title
                  | #{gig.title}
                .detail-banner-address
                  i.fa.fa-map-o
                  | #{gig.location}
                // /.detail-banner-address
                a(href="#sponsor-form-cnt").detail-banner-btn
                  i.fa.fa-usd
                    |  Invest Now
                // /.detail-claim
              // /.detail-banner-left
            // /.container
          // /.detail-banner

        .container
          .row.detail-content
            .col-sm-7
              .detail-gallery
                .detail-gallery-preview
                  a.cboxElement(href='#{gig.gallery[0]}')
                    img(src='#{gig.gallery[0]}')
                ul.detail-gallery-index
                  - each pic in gig.gallery
                    li.detail-gallery-list-item.active
                      a(data-target='#{pic}')
                        img(src='#{pic}', alt='...')
              // /.detail-gallery
              
              h2 Video
              .detail-video
                | !{gig.video}
              // /.detail-video

              h2 Happening here
              .background-white.p20
                // Nav tabs
                ul#listing-detail-location.nav.nav-tabs(role='tablist')
                  li.active(role='presentation')
                    a(href='#simple-map-panel', aria-controls='simple-map-panel', role='tab', data-toggle='tab')
                      i.fa.fa-map
                      | Map
                  li(role='presentation')
                    a(href='#street-view-panel', aria-controls='street-view-panel', role='tab', data-toggle='tab')
                      i.fa.fa-street-view
                      | Street View
                // Tab panes
                .tab-content
                  #simple-map-panel.tab-pane.fade.in.active(role='tabpanel')
                    .detail-map
                      .map-position
                        #listing-detail-map(data-transparent-marker-image='#{CDN("/theme/img/transparent-marker-image.png", true)}', data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"labels.text.fill","stylers":[{"color":"#b43b3b"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"lightness":"8"},{"color":"#bcbec0"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#5b5b5b"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7cb3c9"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#abb9c0"}]},{"featureType":"water","elementType":"labels.text","stylers":[{"color":"#fff1f1"},{"visibility":"off"}]}]', data-zoom='15', data-latitude='#{gig.lat}', data-longitude='#{gig.lng}', data-icon='fa fa-calendar-check-o')
                        // /#map-property
                      // /.map-property
                    // /.detail-map
                  #street-view-panel.tab-pane.fade(role='tabpanel')
                    #listing-detail-street-view(data-latitude='#{gig.lat}', data-longitude='#{gig.lng}', data-heading='225', data-pitch='0', data-zoom='1')

            // /.col-sm-7
            .col-sm-5
              .background-white.p20
                .detail-overview-hearts
                  i.fa.fa-calendar
                  strong #{gig.start_date.toFormat('D MMM YYYY')} 
                  | - #{gig.end_date.toFormat('D MMM YYYY')}
                .detail-overview-rating
                  i.fa.fa-users
                  strong #{gig.visitors} 
                  | people are attending
                .detail-actions.row
                  .col-sm-6
                    a(href="#sponsor-form-cnt").btn.btn-primary.btn-book
                      i.fa.fa-usd
                      |  Invest Now
                  // /.col-sm-6
                  .col-sm-6
                    .btn.btn-secondary.btn-share
                      i.fa.fa-share-square-o
                      |  Share
                      .share-wrapper
                        ul.share
                          li
                            i.fa.fa-facebook
                            |  Facebook
                          li
                            i.fa.fa-twitter
                            |  Twitter
                          li
                            i.fa.fa-google-plus
                            |  Google+
                          li
                            i.fa.fa-pinterest
                            |  Pinterest
                          li
                            i.fa.fa-chain
                            |  Link
                  // /.col-sm-6
                // /.detail-actions
              h2
                | About 
                span.text-secondary #{gig.title}
              .background-white.p20
                .detail-description
                  | !{gig.description}
                .detail-follow
                  h5 Follow Us:
                  .follow-wrapper
                    - if (gig.facebook)
                      a.follow-btn.facebook(href='#{gig.facebook}', target="_blank")
                        i.fa.fa-facebook
                    - if (gig.youtube)
                      a.follow-btn.youtube(href='#{gig.youtube}', target="_blank")
                        i.fa.fa-youtube
                    - if (gig.twitter)
                      a.follow-btn.twitter(href='#{gig.twitter}', target="_blank")
                        i.fa.fa-twitter
                    - if (gig.gplus)
                      a.follow-btn.google-plus(href='#{gig.gplus}', target="_blank")
                        i.fa.fa-google-plus
                  // /.follow-wrapper
                // /.detail-follow
              
              h2 Contacts & Organizers
              .background-white.p20
                .detail-vcard
                  .detail-logo
                    img(src='#{gig.logo}')
                  // /.detail-logo
                  .detail-contact
                    .detail-contact-name
                      i.fa.fa-user
                      | #{gig.organizer}
                    .detail-contact-email
                      i.fa.fa-envelope-o
                      a(href='mailto:#{gig.email}') #{gig.email}
                    .detail-contact-phone
                      i.fa.fa-mobile-phone
                      a(href='tel:#{gig.phone}') #{gig.phone}
                    .detail-contact-website
                      i.fa.fa-globe
                      a(href='#{gig.site_url}', target="_blank") #{gig.site}
                    .detail-contact-address
                      i.fa.fa-map-o
                      | #{gig.location}
                  // /.detail-contact
                // /.detail-vcard

              //- h2 Tags
              //- .background-white.p20
              //-   ul.detail-amenities
              //-     - each tag in gig.all_tags
              //-       li.yes #{tag}
              //- // /.detail-amenities

            .col-sm-12
              h2#sponsor-form-cnt Sponsor details
              p.background-white.p20 Please complete the form bellow and we'll contact you with further details about how to become a sponsor. Thank you.
              .detail-enquire-form.background-white.p20
                p.hidden.bg-message.bg-success
                  | Thanks for showing your interest in the gig above, one of our agents will contact you soon.
                form#sponsor-invest-form(method='post', action='/invest')
                  .form-group
                    label(for='')
                      | Name
                      span.required *
                    input.form-control(type='text', name='name', id='name', required)
                  // /.form-group
                  .form-group
                    label(for='')
                      | Email 
                      span.required *
                    input.form-control(type='email', name='email', id='email', required)
                  .form-group
                    label(for='')
                      | Phone 
                    input.form-control(type='text', name='phone', id='phone')
                  // /.form-group
                  p
                    | Required fields are marked 
                    span.required *
                  button.btn.btn-primary.btn-block(type='submit')
                    i.fa.fa-usd
                    | Become a sponsor
              // /.detail-enquire-form


            // /.col-*
          // /.row
        // /.container
      // /.content
    // /.main-inner

