extends ../layout

block content
  .main
    .main-inner
      .content
        .mt-80.mb80
          .detail-banner(style='background-image: url(#{CDN("/img/events/1/header_banner.jpg", true)});')
            .container
              .detail-banner-left
                .detail-banner-info
                  .detail-label Sport
                  .detail-verified Running
                  .detail-verified Marathon
                  .detail-verified Outdoor
                // /.detail-banner-info
                h2.detail-title
                  | Antwerp Marathon
                .detail-banner-address
                  i.fa.fa-map-o
                  |  Londenstraat 1, Antwerp, Belgium
                // /.detail-banner-address
                a(href="#sponsor-form-cnt").detail-banner-btn
                  i.fa.fa-usd
                    |  Invest Now
                // /.detail-claim
              // /.detail-banner-left
            // /.container
          // /.detail-banner

        .container
          .row.detail-content
            .col-sm-7
              .detail-gallery
                .detail-gallery-preview
                  a.cboxElement(href='#{CDN("/img/events/1/gallery/1.jpg", true)}')
                    img(src='#{CDN("/img/events/1/gallery/1.jpg", true)}')
                ul.detail-gallery-index
                  li.detail-gallery-list-item.active
                    a(data-target='#{CDN("/img/events/1/gallery/1.jpg", true)}')
                      img(src='#{CDN("/img/events/1/gallery/1.jpg", true)}', alt='...')
                  li.detail-gallery-list-item.active
                    a(data-target='#{CDN("/img/events/1/gallery/2.jpg", true)}')
                      img(src='#{CDN("/img/events/1/gallery/2.jpg", true)}', alt='...')
                  li.detail-gallery-list-item.active
                    a(data-target='#{CDN("/img/events/1/gallery/3.jpg", true)}')
                      img(src='#{CDN("/img/events/1/gallery/3.jpg", true)}', alt='...')
                  li.detail-gallery-list-item.active
                    a(data-target='#{CDN("/img/events/1/gallery/4.jpg", true)}')
                      img(src='#{CDN("/img/events/1/gallery/4.jpg", true)}', alt='...')
                  li.detail-gallery-list-item.active
                    a(data-target='#{CDN("/img/events/1/gallery/5.jpg", true)}')
                      img(src='#{CDN("/img/events/1/gallery/5.jpg", true)}', alt='...')
                  li.detail-gallery-list-item.active
                    a(data-target='#{CDN("/img/events/1/gallery/6.jpg", true)}')
                      img(src='#{CDN("/img/events/1/gallery/6.jpg", true)}', alt='...')
              // /.detail-gallery
              
              h2 Video
              .detail-video
                iframe(width="640", height="360", src="https://www.youtube.com/embed/iaI5e8F4CWA", frameborder="0", allowfullscreen=true)
              // /.detail-video

              h2 Happening here
              .background-white.p20
                // Nav tabs
                ul#listing-detail-location.nav.nav-tabs(role='tablist')
                  li.active(role='presentation')
                    a(href='#simple-map-panel', aria-controls='simple-map-panel', role='tab', data-toggle='tab')
                      i.fa.fa-map
                      | Map
                  li(role='presentation')
                    a(href='#street-view-panel', aria-controls='street-view-panel', role='tab', data-toggle='tab')
                      i.fa.fa-street-view
                      | Street View
                // Tab panes
                .tab-content
                  #simple-map-panel.tab-pane.fade.in.active(role='tabpanel')
                    .detail-map
                      .map-position
                        #listing-detail-map(data-transparent-marker-image='#{CDN("/theme/img/transparent-marker-image.png", true)}', data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"labels.text.fill","stylers":[{"color":"#b43b3b"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"lightness":"8"},{"color":"#bcbec0"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#5b5b5b"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7cb3c9"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#abb9c0"}]},{"featureType":"water","elementType":"labels.text","stylers":[{"color":"#fff1f1"},{"visibility":"off"}]}]', data-zoom='15', data-latitude='51.2310564', data-longitude='4.4075833', data-icon='fa fa-calendar-check-o')
                        // /#map-property
                      // /.map-property
                    // /.detail-map
                  #street-view-panel.tab-pane.fade(role='tabpanel')
                    #listing-detail-street-view(data-latitude='40.758896', data-longitude='-73.985135', data-heading='225', data-pitch='0', data-zoom='1')

            // /.col-sm-7
            .col-sm-5
              .background-white.p20
                .detail-overview-hearts
                  i.fa.fa-calendar
                  strong 12 Oct 2016 
                  | - 13 Oct 2016
                .detail-overview-rating
                  i.fa.fa-users
                  strong 100K 
                  | people are attending
                .detail-actions.row
                  .col-sm-6
                    a(href="#sponsor-form-cnt").btn.btn-primary.btn-book
                      i.fa.fa-usd
                      |  Invest Now
                  // /.col-sm-6
                  .col-sm-6
                    .btn.btn-secondary.btn-share
                      i.fa.fa-share-square-o
                      |  Share
                      .share-wrapper
                        ul.share
                          li
                            i.fa.fa-facebook
                            |  Facebook
                          li
                            i.fa.fa-twitter
                            |  Twitter
                          li
                            i.fa.fa-google-plus
                            |  Google+
                          li
                            i.fa.fa-pinterest
                            |  Pinterest
                          li
                            i.fa.fa-chain
                            |  Link
                  // /.col-sm-6
                // /.detail-actions
              h2
                | About 
                span.text-secondary Antwerp Marathon
              .background-white.p20
                .detail-description
                  p
                    strong DVV Antwerp Marathon
                  ul
                    li Start: 9:00 a.m. on Linkeroever (Thonetlaan nr. 110)
                    li Finish: Grote Markt, Rechteroever
                    li Course: 42,195 km (IAAF measured)
                    li Time limit: 5 hours 30 minutes
                  p
                    strong Chiquita Kids Run 1.4 km
                  ul
                    li Start: 11:00 a.m. on Linkeroever (Thonetlaan)
                    li Finish: on Linkeroever (Charles De Costerlaan)
                    li Fun Run (no time registration!) for kids between 4 and 12 years of age
                  p
                    strong DVV Antwerp Short Run 5 km
                  ul
                    li Start: 12:00 noon on Linkeroever (Thonetlaan)
                    li Finish: on Linkeroever (Charles De Costerlaan)
                  p
                    strong NEW BALANCE Ladies Run 5 km
                  ul
                    li Start: 1:00 p.m. on Linkeroever (Thonetlaan)
                    li Finish: on Linkeroever (Charles De Costerlaan)
                    li Ladies only race
                    li
                  p
                    strong DVV Antwerp 10 Miles
                  ul
                    li
                      | Start: on Linkeroever (Thonetlaan)
                      br
                      |   Wave 1: 3:00 p.m.
                      br
                      |   Wave 2: 3:30 p.m.
                      br
                      |   Wave 3: 4:00 p.m.
                    li Finish: on Linkeroever (Charles De Costerlaan)
                    li Course: 10 English miles or 16 km
                    li Time Limit: 2 hours 15 minutes
                .detail-follow
                  h5 Follow Us:
                  .follow-wrapper
                    a.follow-btn.facebook(href='#')
                      i.fa.fa-facebook
                    a.follow-btn.youtube(href='#')
                      i.fa.fa-youtube
                    a.follow-btn.twitter(href='#')
                      i.fa.fa-twitter
                    a.follow-btn.tripadvisor(href='#')
                      i.fa.fa-tripadvisor
                    a.follow-btn.google-plus(href='#')
                      i.fa.fa-google-plus
                  // /.follow-wrapper
                // /.detail-follow
              
              h2 Contacts & Organizers
              .background-white.p20
                .detail-vcard
                  .detail-logo
                    img(src='#{CDN("/img/events/1/logo.jpg", true)}')
                  // /.detail-logo
                  .detail-contact
                    .detail-contact-name
                      i.fa.fa-user
                      | Jan Peeters
                    .detail-contact-email
                      i.fa.fa-envelope-o
                      a(href='mailto:contact+am@sponsorgigs.com') contact+am@sponsorgigs.com
                    .detail-contact-phone
                      i.fa.fa-mobile-phone
                      a(href='tel:033 - 330 29 88') 033 - 330 29 88
                    .detail-contact-website
                      i.fa.fa-globe
                      a(href='http://www.sport.be/antwerp10miles/2016/en/') www.sport.be/antwerp10miles
                    .detail-contact-address
                      i.fa.fa-map-o
                      |                         Londenstraat 1, Antwerp
                      br
                      |                         Belgium
                  // /.detail-contact
                // /.detail-vcard

              h2 Tags
              .background-white.p20
                ul.detail-amenities
                  li.yes Sports
                  li.yes Outdoor
                  li.yes Marathon
                  li.yes Running
              // /.detail-amenities

            .col-sm-12
              h2#sponsor-form-cnt Sponsor details
              p.background-white.p20 Please complete the form bellow and we'll contact you with further details about how to become a sponsor. Thank you.
              .detail-enquire-form.background-white.p20
                form(method='post', action='?')
                  .form-group
                    label(for='')
                      | Name
                      span.required *
                    input.form-control(type='text', name='name', id='name', required='')
                  // /.form-group
                  .form-group
                    label(for='')
                      | Email 
                      span.required *
                    input.form-control(type='email', name='email', id='email', required='')
                  .form-group
                    label(for='')
                      | Phone 
                      span.required *
                    input.form-control(type='text', name='phone', id='phone', required='')
                  // /.form-group
                  p
                    | Required fields are marked 
                    span.required *
                  button.btn.btn-primary.btn-block(type='submit')
                    i.fa.fa-usd
                    | Become a sponsor
              // /.detail-enquire-form


            // /.col-*
          // /.row
        // /.container
      // /.content
    // /.main-inner

