extends ../layout

block content
  .main
    .main-inner
      .container
        .content
          #events-title-header.document-title
            h1 Events
          
          form.filter(method='get', action='/events')
            .row
              .col-sm-12.col-md-4
                .form-group
                  input.form-control(type='text', placeholder='Keyword')
                // /.form-group
              // /.col-*
              .col-sm-12.col-md-4
                .form-group
                  select.form-control(title='Select Location')
                    option Antwerp
                // /.form-group
              // /.col-*
              .col-sm-12.col-md-4
                .form-group
                  select.form-control(title='Select Category')
                    option(value='') Sports
                // /.form-group
              // /.col-*
            // /.row
            hr
            .row
              .col-sm-8
                .filter-actions
                  //- a(href='#')
                  //-   i.fa.fa-close
                  //-   |  Reset Filter
                  //- a(href='#')
                  //-   i.fa.fa-save
                  //-   |  Save Search
                // /.filter-actions
              // /.col-*
              .col-sm-4
                button.btn.btn-primary(type='submit') Redefine Search Result
              // /.col-*
            // /.row

          h2.page-title
            //- | 1802 results matching your query
            //- form.filter-sort(method='get', action='?')
            //-   .form-group
            //-     select(title='Sort by')
            //-       option(name='price') Price
            //-       option(name='rating') Rating
            //-       option(name='title') Title
            //-   // /.form-group
            //-   .form-group
            //-     select(title='Order')
            //-       option(name='ASC') Asc
            //-       option(name='DESC') Desc
            // /.form-group
          // /.page-title
          .cards-simple-wrapper
            .row
              - if (gigs.length > 0)
                - each gig in gigs
                  .col-sm-6.col-md-4.col-lg-3
                    .card-simple(data-background-image="#{gig.header}", style='background-image: url(#{gig.header}')
                      .card-simple-background
                        .card-simple-content
                          h2
                            a(href='#{gig.pURL}') #{gig.title}
                          .card-simple-actions
                            a.fa.fa-search(href='#{gig.pURL}')
                          // /.card-simple-actions
                        // /.card-simple-content
                        //- .card-simple-label #{gig.main_tag}
                      // /.card-simple-background
                    // /.card-simple
                  // /.col-*
              - else
                p Sorry, no gigs yet...
            // /.row
          // /.cards-simple-wrapper
          //- .pager
          //-   ul
          //-     li
          //-       a(href='#') Prev
          //-     li
          //-       a(href='#') 5
          //-     li.active
          //-       a 6
          //-     li
          //-       a(href='#') 7
          //-     li
          //-       a(href='#') Next
          // /.pagination
        // /.content
      // /.container
    // /.main-inner

