script(src=THEMEJS('/js/jquery.min'))

script(src=JS('vendor/jquery.ui.widget.min'))
script(src=JS('vendor/jquery.iframe-transport.min'))
script(src=JS('vendor/jquery.fileupload.min'))
script(src=JS('vendor/jquery.cloudinary.min'))
script(src=JS('vendor/skrollr.min'))

script(src=THEMEJS('/js/map'))
script(src=THEMEJS('/libraries/bootstrap-sass/javascripts/bootstrap/collapse'))
script(src=THEMEJS('/libraries/bootstrap-sass/javascripts/bootstrap/carousel'))
script(src=THEMEJS('/libraries/bootstrap-sass/javascripts/bootstrap/transition'))
script(src=THEMEJS('/libraries/bootstrap-sass/javascripts/bootstrap/dropdown'))
script(src=THEMEJS('/libraries/bootstrap-sass/javascripts/bootstrap/tooltip'))
script(src=THEMEJS('/libraries/bootstrap-sass/javascripts/bootstrap/tab'))
script(src=THEMEJS('/libraries/bootstrap-sass/javascripts/bootstrap/alert'))
script(src=THEMEJS('/libraries/colorbox/jquery.colorbox-min'))
script(src=THEMEJS('/libraries/flot/jquery.flot.min'))
script(src=THEMEJS('/libraries/flot/jquery.flot.spline'))
script(src=THEMEJS('/libraries/bootstrap-select/bootstrap-select.min'))
script(src='http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&sensor=false')
script(src=THEMEJS('/libraries/jquery-google-map/infobox'))
script(src=THEMEJS('/libraries/jquery-google-map/markerclusterer'))
script(src=THEMEJS('/libraries/jquery-google-map/jquery-google-map'))
script(src=THEMEJS('/libraries/owl.carousel/owl.carousel'))
script(src=THEMEJS('/libraries/bootstrap-fileinput/fileinput.min'))

script(src=THEMEJS('/js/superlist'))

script(src=JS('app'))
