extends ../layout

block content
  .main
    .main-inner
      .content
        .mt-80
          .hero-image
            .hero-image-inner(style="background-image: url(#{CDN('/img/home_header_3.jpg')};")
              .hero-image-content
                .container
                  h1 Sponsor events
                  p
                    | Sponsor events or get sponsored.
                  a.btn.btn-primary.btn-lg(href='/events') Sponsor events
                  a.btn.btn-secondary.btn-lg(href='/events/add') Add your event
                // /.container
              // /.hero-image-content
              .hero-image-form-wrapper
                .container
                  .row
                    .col-sm-4.col-sm-offset-8.col-lg-4.col-lg-offset-7
                      form(method='get', action='/events')
                        h2 Start Searching
                        .hero-image-keyword.form-group
                          input.form-control(type='text', placeholder='Keyword')
                        // /.form-group
                        //- .hero-image-location.form-group
                        //-   select.form-control(title='Location')
                        //-     option Antwerp
                        //- // /.form-group
                        //- .hero-image-category.form-group
                        //-   select.form-control(title='Category')
                        //-     option(value='sports') Sports
                        //- // /.form-group
                        //- .hero-image-price.form-group
                        //-   input.form-control(type='text', placeholder='Min. Price')
                        // /.form-group
                        button.btn.btn-primary.btn-block(type='submit') Search
                    // /.col-*
                  // /.row
                // /.container
              // /.hero-image-form-wrapper
            // /.hero-image-inner
          // /.hero-image
        .container
          .page-header
            h1 Most Recent Events
            p
              | Check them out and choose one to invest in!
          // /.page-header
          .cards-simple-wrapper
            .row
              - if (gigs.length > 0)
                - each gig in gigs
                  .col-sm-6.col-md-4.col-lg-3
                    .card-simple(data-background-image="#{gig.header}", style='background-image: url(#{gig.header}')
                      .card-simple-background
                        .card-simple-content
                          h2
                            a(href='/events/#{gig.pid}/#{gig.slug}') #{gig.title}
                          .card-simple-actions
                            a.fa.fa-search(href='/events/#{gig.pid}/#{gig.slug}')
                          // /.card-simple-actions
                        // /.card-simple-content
                        .card-simple-label #{gig.main_tag}
                      // /.card-simple-background
                    // /.card-simple
                  // /.col-*
              - else
                p Sorry, no gigs yet...
            // /.row
          // /.cards-simple-wrapper
          
          .block.background-white.fullwidth
            .page-header
              h1 Testimonials
              p
                | Read what our customers say about our services.
            // /.page-header
            .row
              .col-sm-6
                .testimonial
                  .testimonial-image
                    img(src="#{CDN('/img/testimonials/jason.jpg', true)}")
                  // /.testimonial-image
                  .testimonial-inner
                    .testimonial-title
                      h2 Exactly What I Need
                      .testimonial-rating
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                      // /.testimonial-rating
                    // /.testimonial-title
                    | I am thankful this service exists, because I have doubts our event would have even taken place without it... Everyone was professional and the communication ran smoothly, which I appreciated.
                    .testimonial-sign - Alex Lam
                    // /.testimonial-sign
                  // /.testimonial-inner
                // /.testimonial
              .col-sm-6
                .testimonial
                  .testimonial-image
                    img(src="#{CDN('/img/testimonials/marko.jpg', true)}")
                  // /.testimonial-image
                  .testimonial-inner
                    .testimonial-title
                      h2 Great Sponsor Platform
                      .testimonial-rating
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                      // /.testimonial-rating
                    // /.testimonial-title
                    | Great platform if you're looking for local events to promote your business, an effective way to spread the word and network, from my experience.
                    .testimonial-sign - Jason Rodriguez
                    // /.testimonial-sign
                  // /.testimonial-inner
                // /.testimonial

          .page-header
            h1 Limited Offer
            p
              | Use this limited-time offer and post your event for free.
            p.center
              a(href="/events/add", class="btn btn-primary btn-lg") Add your event for FREE
          // /.page-header

          .block.background-secondary.fullwidth.mt80.mb-80.pt60.pb60
            .row
              .col-sm-12
                .contact-info-wrapper
                  h2 Do You Have Any Questions?
                  .contact-info
                    span.contact-info-item
                      i.fa.fa-at
                      span contact@sponsorgigs.com
                    // /.contact-info-item
                    span.contact-info-item
                      i.fa.fa-phone
                      span +1 (650) 924-9925
                    // /.contact-info-item
                  // /.contact-info
                // /.contact-info-wrapper
              // /.col-*
            // /.row
        // /.container
      // /.content
    // /.main-inner

